main .main_title {
  font-size: 1.3vw;
  font-weight: bold;
  color: #457b9d;
  text-align: center;
  margin: 2vw 0;
  line-height: 4vw;
}
main .main_title hr {
  margin: auto;
  display: block;
  width: 80%;
}
main .main_layout {
  display: flex;
  justify-content: center;
  margin: 0 1vw 2vw 0.5vw;
}

main .main_layout .rightPage {
  width: 75%;
  margin: 0.5vw;
}

main .main_layout .leftPage {
  width: 25%;
  margin: 0.5vw;
}

@media screen and (max-width: 900px) {
  main .main_title {
    font-size: 2vw;
    margin: 2vw 0;
    line-height: 6vw;
  }
  main .main_layout .rightPage {
    width: 70%;
    margin: 0.5vw;
  }

  main .main_layout .leftPage {
    width: 30%;
    margin: 0.5vw;
  }
}

@media screen and (max-width: 600px) {
  main .main_layout {
    flex-direction: column;
    margin: 0 2vw;
  }

  main .main_title {
    font-size: 4vw;
    margin: 4vw 0;
    line-height: 8vw;
  }
  main .main_layout .rightPage {
    width: 100%;
    margin: 0.5vw;
  }

  main .main_layout .leftPage {
    width: 100%;
    margin: 0.5vw;
  }
}
